.features-maindiv {
  background-image: url("../images/Background\ Special.svg");
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100vh; */
  overflow: hidden;
}
.feat-head-col {
  display: flex;
  justify-content: center;
}
.feat-head-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 3rem;
  line-height: 70px;
  color: #001449;
  margin: 2% 0%;
}

.feat-box-col {
  display: flex;
  justify-content: center;
}
.feat-box {
  width: 80%;
  height: fit-content;
  background: rgba(200, 252, 234, 0.62);
  backdrop-filter: blur(250px);
  border-radius: 82px;
  margin-bottom: 3%;

}
.feat-img-col {
  display: flex;
  justify-content: center;
}
.feat-img {
  padding: 5% 0%;
}
.feat-text-col {
  display: flex;
  justify-content: center;
}
.feat-text-para {
  font-family: Roboto;
  font-style: normal;
  font-weight: 550;
  font-size: 1.8rem;
  line-height: 35px;
  text-align: center;
  padding: 5% 0%;
  color: #2a453d;
}
