.cont-main{
    
    /* width: 100%; */
    /* height: 100vh; */
    display: flex;
    overflow: hidden;
    /* justify-content: center; */
    /* align-items: center; */
}
.cont-img{
    height: 80vh;
    /* width: 100%; */

}
.offrow{
    /* display: flex; */
    text-align: center;
}
.off-head{
    font-size: 1vw;
    font-family: "Montserrat";
    color: #0d7377;
}
.off
{
    font-size: 1vw;
    font-family: sans-serif;
    color: black;
}