
/* CSS for the container of the page */
.main-container {
  background-color: #ffffff;
  overflow-x: hidden;
}
.blog-slides {
  display: none !important;
}
.col {
  padding: 0% !important;
}
.foot{
  color: #99c9c6 !important;
  font-size: 1rem !important;
}

.central-theme {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 92vh;
  margin-top: calc(8vh + 16px);
}

.qrpic {
  height: calc(92vh-16px);
  width: 100%;
}

.que {
  font-size: 1.2vw;
  font-family: sans-serif;
  font-weight: medium;
  color: #968c83;
  margin-bottom: 0%;
}

.brandn {
  font-size: 5.5vw;
  font-weight: 600;
  font-family: sans-serif;
  color: #002923;
  margin: 0%;
}

.tag {
  font-size: 2.8vw;
  font-weight: 600;
  font-family: sans-serif;
  color: #0d7377;
  margin-bottom: 0%;
}

.btn-learn {
  padding: 1.5%;
  color: #ffffff;
  background-color: #FFB612 !important;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 1vw;
  font-weight: 550;
  width: 28%;
  margin-top: 5%;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
}
.btn-learn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-learn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn-learn:hover span {
  padding-right: 25px;
}

.btn-learn:hover span:after {
  opacity: 1;
  right: 0;
}

.school {
  /* margin-top: 6%; */
  /* margin-left: 3%; */
  display: flex;
  justify-content: center;
}
.button-card-top {
  height: 45vh;
  width: 19vw;
  background: #eeeeee;
  /* box-shadow: 8px 8px #e8ffff; */
  border-radius: 16px !important;
}

.button-card-top:hover {
  height: 45vh;
  width: 19vw;
  background: #f0f0f3;
  border-radius: 16px !important;
}

.button-card-bottom {
  height: 25.9vh;
  width: 19vw;
  background: #f0f0f3;
  box-shadow: 10px 10px 35px #31aa8e, -10px -10px 30px rgb(193, 245, 233);
  border-radius: 16px;
}

.button-card-bottom:hover {
  height: 25.9vh;
  width: 19vw;
  background: #f0f0f3;
  box-shadow: inset 6px 6px 15px #31aa8e, inset -5px -5px 10px #ffffff;
  border-radius: 16px;
}
.button-row {
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 0% !important;
}
.image-col {
  display: flex;
  justify-content: center;
  padding-right: 0;
  /* padding-top: 9%; */
}
.image-2 {
  height: 30vh;
}
.image-1 {
  height: 32vh;
}
.image-3 {
  height: 30vh;
  width: 30vw;
}
.type-frnt {
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 1.6vw;
  text-align: center;
  padding: 0 2% 5% 2%;
  color: #212121;
}
.type-bk {
  font-family: sans-serif;
  font-weight: 550;
  font-size: 1.8vw;
  text-align: center;
  padding: 7%;
  color: #686d76;
}
.sec-section {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5%;
  background-color: #99c9c6;
  margin-top: 1%;
}
.sol {
  font-size: 2.5vw;
  font-weight: 500;
  font-family: "Montserrat";
  color: #0d7377;
  text-align: center;
}
.use {
  /* margin: 3%; */
  display: flex;
  justify-content: center;
}
.work {
  background-color: #eeeeee;
  padding: 1%;
}
.workhead {
  background-color: #eeeeee;
}
.wor {
  font-size: 2.5vw;
  font-weight: 500;
  font-family: "Montserrat";
  color: #0d7377;
  margin-top: 0%;
  margin-bottom: 0;
  padding-top: 3%;
  text-align: center;
}

.vid {
  justify-content: center;
  margin: 0 5%;
  padding: 2% 0;
  border-radius: 1%;
  background-color: #212121;
}
.player {
  margin: 0 auto;
}
.bhead {
  height: 30vh;
}

.blim {
  height: 50%;
  width: 100%;
  margin-left: 3%;
  margin-top: 2%;
  padding: 0%;
}

.blog {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  padding: 3%;
}
.bl-con {
  margin: 0% !important;
}
.blog-head {
  font-size: 2.5vw;
  font-weight: 500;
  font-family: "Montserrat";
  color: #0d7377;
  margin-top: 0%;
  margin-bottom: 0;
  padding: 1%;
  text-align: center;
}
.blog-row {
  
  margin-top: 2%;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.blog-card {
  height: 32vh;
  width: 15vw;
  background: #eeeeee;
  box-shadow: 10px 10px 35px #ffa5a5, -10px -10px 30px #ffa5a5;
  border-radius: 16px;
  margin: 3%;
}
.blog-col {
  display: flex;
}
.image-bl {
  height: 18vh;
  width: 70%;
  margin: 2%;
}
.bcon {
  /* white-space: nowrap;  */
  /* width: 40%; */
  height: 10vh;
  /* overflow: hidden; */
  /* text-overflow: ellipsis;  */
  margin: 0;
  padding: 2%;
  font-family: sans-serif;
  font-size: 0.8vw;
  font-weight: 600;
}
.about {
  display: flex;
  
  justify-content: center;
  
  padding: 3%;
  margin-top: 0;
  background-color: #dbf6e9;
  margin-left: 0% !important;
}
.com-head {
  text-align: center;
  font-size: 2.5vw;
  font-weight: 500;
  font-family: "Montserrat";
  color: #0d7377;
  margin-top: 0%;
  margin-bottom: 0;
  padding: 1%;
}
.com-row {

  margin-top: 2%;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.com-content {
  width: 100%;
  justify-content: center;
  margin-left: 0 !important;
}
.about-icon {
  color: #0d7377;
  font-size: 4rem;
}
.com-header {
  font-size: 1vw;
  font-weight: 600;
  font-family: "Montserrat";
  color: #212121;
}
.com-con {
  font-size: 0.9vw;
  font-weight: 600;
  font-family: sans-serif;
  color: #212121;
}
.procol {
  display: flex;
  align-items: center;
}
.propic {
  /* height: 80vh; */
  width: 120%;
  margin: auto -10%;
}
.probut-row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-left: 0 !important;
}
.butpro-card {
  height: 24.9vh;
  width: 15vw;
  background: #FFFFFF;
  box-shadow: 6px 6px 17px #D7D0A2, -8px -8px 15px #FFFDEC !important;
  border-radius: 50px !important;
  justify-content: center;
  border: none !important;
}

/* .butpro-card:hover {
  height: 24.9vh;
  width: 15vw;
  background: #FFFFFF;
  box-shadow: 6px 6px 17px #D7D0A2, -6px -6px 12px #FFFDEC !important;
  border-radius: 50px !important;
} */

.butpost-card {
  height: 24.9vh;
  width: 15vw;
  background: #ffd5cd !important;
  border-radius: 16px !important;
  box-shadow: 8px 8px #e8e8e8;
  justify-content: center;
}
.butpost-card:hover {
  height: 24.9vh;
  width: 15vw;
  background: #f0f0f3;
  border-radius: 16px !important;
  box-shadow: 8px 8px #e8e8e8;
}
.type {
  font-size: 1vw;
  font-family: sans-serif;
  font-weight: bolder;
  padding: 3%;
  display: flex;
  justify-content: center;
}
.prob{
  background-color: #FCF4BE;
}
.prob-icon-1{
  height: 12vh;
}
.prob-icon {
  height: 17vh;
  z-index: 0;
}
.prob-start {
  /* background-color: #212121; */
  /* margin-top: 3%; */
}
.prob-head {
  font-size: 2.5vw;
  font-weight: 500;
  font-family: "Montserrat";
  color: #0d7377;
  text-align: center;
  
}
.prob-col {
  display: grid;
  justify-content: center;
  height: 80vh;
  padding-top: 3%;
}
.post {
  padding: 3%;
  background-color: #fbf6f0;
}
.one {
  display: flex;
  justify-content: center;
}
.two {
  /* display: flex; */
  justify-content: center;
  /* width: 100%; */
}
.third {
  display: flex;
  justify-content: center;
}
.sol-pic {
  /* height: 60vh; */
  width: 100%;
}
.sol-start {
  margin-top: 3%;
}
.mid-pic {
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-head {
  font-size: 2.5vw;
  font-weight: 500;
  font-family: "Montserrat";
  color: #0d7377;
  text-align: center;
  margin-bottom: 30px;
}
.gra {
  display: flex;
  background-image: url("../images/graph.jpg");
  background-repeat: round;
  height: 100vh;
}
.gra-pic {
  height: 60vh;
  width: 100%;
}
.gra-card {
  background-color: white;
  height: 80vh;
  width: 80%;
}
.gra-head {
  padding-top: 3%;
  text-align: center;
  font-size: 1vw;
  font-family: "Montserrat";
  color: #0d7377;
}
a {
  text-decoration: none;
}

/* mobile css starts here */

@media only screen and (max-width: 600px) {
  .main-container {
    background-color: #ffffff;
    /* width: 100vw !important; */
    overflow-x: hidden;
  }
  .nav {
    align-items: center;
    background-color: #212121 !important;
  }

  .nav-options {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .home-nav {
    /* margin: 0 20px; */
    color: #32e0c4 !important;
    font-size: 3vw;
    cursor: pointer;
    font-weight: 400;
    font-family: sans-serif;
  }

  .central-theme {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 80vh !important;
  }

  .qrpic {
    width: 70%;
  }

  .que {
    font-size: 3vw;
    font-family: cursive;
    font-weight: 600;
    color: #968c83;
    margin-bottom: 0%;
  }

  .brand {
    font-size: 5vw;
    font-weight: 900;
    font-family: -webkit-pictograph;
    color: #212121;
    margin: 0%;
  }

  .tag {
    font-size: 3.5vw;
    font-weight: 500;
    font-family: "Montserrat";
    color: #0d7377;
    margin-bottom: 0%;
  }

  .main-right {
    padding: -15px !important;
  }

  .btn-learn {
    padding: 2%;
    color: #eeeeee;
    background-color: #0d7377 !important;
    border-radius: 4px;
    font-family: cursive;
    font-size: 2.5vw !important;
    font-weight: 600;
    width: 30%;
    /* margin-top: 5%; */
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    text-align: center;
  }
  .btn-learn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .btn-learn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .btn-learn:hover span {
    padding-right: 25px;
  }

  .btn-learn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .school {
    display: flex;
    justify-content: center;
  }
  .button-card-top {
    height: 35vh;
    width: 55vw;
    background: #eeeeee;

    border-radius: 16px !important;
  }

  .button-card-top:hover {
    height: 35vh;
    width: 55vw;
    background: #f0f0f3;
    border-radius: 16px !important;
  }

  .button-card-bottom {
    height: 25.9vh;
    width: 19vw;
    background: #f0f0f3;
    box-shadow: 10px 10px 35px #31aa8e, -10px -10px 30px rgb(193, 245, 233);
    border-radius: 16px;
  }

  .button-card-bottom:hover {
    height: 25.9vh;
    width: 19vw;
    background: #f0f0f3;
    box-shadow: inset 6px 6px 15px #31aa8e, inset -5px -5px 10px #ffffff;
    border-radius: 16px;
  }
  .button-row {
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 0% !important;
  }
  .image-col {
    display: flex;
    justify-content: center;
    padding-right: 0;
    /* padding-top: 9%; */
  }
  .image-2 {
    height: 28vh;
  }
  .image-1 {
    height: 30vh;
  }
  .image-3 {
    height: 30vh;
    width: 50vw;
  }
  .type-frnt {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: lighter;
    font-size: 3.5vw;

    text-align: center;
    padding: 0 2% 5% 2%;
    color: #212121;
  }
  .type-bk {
    font-family: sans-serif;
    /* font-style: oblique; */
    font-weight: 600;
    font-size: 3.8vw;
    text-align: center;
    padding: 7%;
    color: #686d76;
  }
  .sec-section {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #99c9c6;
    margin-top: 1%;
  }
  .sol {
    font-size: 3.8vw;
    font-weight: 500;
    font-family: "Montserrat";
    color: #0d7377;
    text-align: center;
  }
  .use {
    /* margin: 3%; */
    display: flex;
    justify-content: center;
  }
  .work {
    background-color: #eeeeee;
    padding: 1%;
  }
  .workhead {
    background-color: #eeeeee;
  }
  .wor {
    font-size: 3.8vw;
    font-weight: 500;
    font-family: "Montserrat";
    color: #0d7377;
    margin-top: 0%;
    margin-bottom: 0;
    padding-top: 3%;
    text-align: center;
  }

  .vid {
    justify-content: center;
    margin: 0 5%;
    padding: 2% 0;
    border-radius: 1%;
    background-color: #212121;
  }
  .player {
    margin: 0 auto;
    width: 306px !important;
  }
  .bhead {
    height: 30vh;
  }

  .blim {
    height: 50%;
    width: 100%;
    margin-left: 3%;
    margin-top: 2%;
    padding: 0%;
  }

  .blog {
    display: none !important;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    padding: 3%;
  }
  .bl-con {
    margin: 0% !important;
  }
  .blog-head {
    font-size: 3.8vw;
    font-weight: 500;
    font-family: "Montserrat";
    color: #0d7377;
    margin-top: 0%;
    margin-bottom: 0;
    padding: 1%;
    text-align: center;
  }
  .blog-row {
    background-color: #212121;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .blog-card {
    height: 32vh;
    width: 15vw;
    background: #eeeeee;
    box-shadow: 10px 10px 35px #ffa5a5, -10px -10px 30px #ffa5a5;
    border-radius: 16px;
    margin: 3%;
  }
  .blog-col {
    display: flex;
  }
  .image-bl {
    height: 18vh;
    width: 100%;
    margin: 2%;
  }
  .bcon {
    /* white-space: nowrap;  */
    /* width: 40%; */
    height: 10vh;
    /* overflow: hidden; */
    /* text-overflow: ellipsis;  */
    margin: 0;
    padding: 2%;
    font-family: sans-serif;
    font-size: 2.8vw;
    font-weight: 900;
    color: #212121;
  }
  .about {
    display: flex;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
    margin-top: 0;
    background-color: #a6f6f1;
    margin-left: 0% !important;
  }
  .com-head {
    text-align: center;
    font-size: 3.8vw;
    font-weight: 500;
    font-family: "Montserrat";
    color: #0d7377;
    margin-top: 0%;
    margin-bottom: 0;
    padding: 1%;
  }
  .com-row {
    background-color: #212121;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .com-content {
    width: 100%;
    justify-content: center;
    margin-left: 0 !important;
  }
  .fa {
    color: #0d7377;
    font-size: 2rem;
  }
  .com-header {
    font-size: 2.5vw;
    font-weight: 600;
    font-family: "Montserrat";
    color: #212121;
  }
  .com-con {
    font-size: 2vw;
    font-weight: 600;
    font-family: sans-serif;
    color: #212121;
  }
  /* .procol {
    display: block;
    align-items: center;
  } */
  .propic {
    height: 60%;
    width: 100%;
  }
  .probut-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .prob-col {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
  }
  /* .butpro-card {
    height: 24.9vh;
    width: 30vw;
    background: #f0f0f3;
    border-radius: 16px !important;
    box-shadow: 8px 8px #e8e8e8;

    justify-content: center;
  }
  .butpro-card:hover {
    height: 24.9vh;
    width: 30vw;
    background: #f0f0f3;
    box-shadow: 8px 8px #e8e8e8;
    border-radius: 16px !important;
  } */

  .type {
    font-size: 2.9vw;
    font-family: "Montserrat";
    padding: 3%;
    display: flex;
    justify-content: center;
  }
  .prob-icon-1{
    height: 10vh;
  }
  .prob-icon {
    height: 15vh;
  }
  .prob-start {
    background-color: #212121;
    margin-top: 3%;
  }
  .prob-head {
    font-size: 3.8vw;
    font-weight: 500;
    font-family: "Montserrat";
    color: #0d7377;
    text-align: center;
    padding-top: 2%;
  }
  .post {
    padding: 3%;
    background-color: #fbf6f0;
  }
  .one {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  .two {
    /* display: flex; */
    justify-content: center;
    /* width: 100%; */
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
  .third {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  .sol-pic {
    /* height: 60vh; */
    width: 100%;
    display: none;
  }
  .mid-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }
  .butpost-card {
    height: 25vh;
    width: 35vw;
    background: #ffd5cd !important;
    border-radius: 16px !important;
    box-shadow: 8px 8px #e8e8e8;
    justify-content: center;
  }
  .butpost-card:hover {
    height: 24.9vh;
    width: 15vw;
    background: #f0f0f3;
    border-radius: 16px !important;
    box-shadow: 8px 8px #e8e8e8;
  }
  
  .gra-start {
    display: none !important;
  }
  .gra {
    display: none !important;
    background-image: url("../images/graph.jpg");
    background-repeat: round;
    height: 100vh;
  }
  .gra-pic {
    height: 60vh;
    width: 100%;
  }
  .gra-card {
    background-color: white;
    height: 80vh;
    width: 80%;
  }
  .gra-head {
    padding: 3%;
    text-align: center;
    font-size: 1vw;
    font-family: "Montserrat";
    color: #0d7377;
  }
  a {
    text-decoration: none;
  }
  .blog-slides {
    display: flex !important;
  }
}
