.detail{
    border-radius: 16px;
    box-shadow:8px 8px 8px 8px #898b8a;
    padding: 7% 0% 3% 3%;
}
.try-main{
    height: 100vh;
    width: 100vw;
}
.cert-section{
    /* height: 100vh; */
    align-items: center;
}
.cert-col-1{
    margin-top: 11%;
    margin-bottom: 5%;
}
.try-form{
    padding: 3%;
    width: 100%;
    margin: auto;
}
.help{
    color: #0d7377;
    font-size: 1.3vw;
    font-family: "Montserrat";

}
.inst{
    font-size: 1vw;
    font-family: sans-serif;
    color: #0d7377;
}
.cri{
    font-size: 1.6vw;
    font-family: sans-serif;
    color: #0d7377;
       
}
.imp:before{
    content:"*" ;
   color:red    
   }
.scan{
    font-size: 2vw !important;
    font-family: sans-serif;
    color:#0d7377;
    font-weight: 600 !important;
}
.field{
    color: #898b8a;
    font-size: 1vw;

    border-radius: 8px;
    border: 2px solid #0d7377;
}

.qr-img{
    width: 50%;
}
a{
    text-decoration: none;
}
.Form{
    border-radius: 16px;
    box-shadow:8px 8px 8px 8px #898b8a;
    padding: 5%;
}
@media only screen and (max-width: 600px)
{
    .detail{
        border-radius: 16px;
        box-shadow:8px 8px 8px 8px #898b8a;
        padding: 7% 10% 4% 2%;
    }
    .cert-col-1{
        margin-top: 36%;
        margin-bottom: 5%;
    }
    .cert-col-2{
     padding-bottom: 2%;
    }
    .inst{
        font-size: 3vw;
        font-family: sans-serif;
        color: #0d7377;
    }
    .cri{
        font-size: 3.6vw !important;
        font-family: sans-serif;
        color: #0d7377;
        
        
    }
    .scan{
        font-size: 4vw !important;
        font-family: sans-serif;
        color:#0d7377;
        font-weight: 600 !important;
    }
    .field{
        color: #898b8a;
        font-size: 3vw;
    
        border-radius: 8px;
        border: 2px solid #0d7377;
    }
    .cert-btn{
        justify-content: center;
    }
    
}
